* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F9FAF8;
}

.landing-page {
    background-color: #1F2937;
    width: 100%;
}

.logo {
    font-size: 40px;
    padding: 30px 40px;
    margin: auto 0;
}

.navbar {
    background: #0661736f;
    display: flex;
    padding: 20px 80px;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    margin: auto 0;
    padding: 0px 40px;
    gap: 60px;
}

.navbar a {
    font-size: 16px;
}

.welcome {
    font-weight: 700;
    font-size: 42px;
    padding: 30px 30px;
}

.headerbody {
    display: flex;
    padding: 5px 80px;
    justify-content: space-between;
}

.training-img {
    max-height: 275px;
    padding: 40px 30px;
    border-radius: 70px;
}

.message {
    max-width: 450px;
    padding: 0px 30px 20px;
    font-size: 18px;
    font-style: italic;
}

.journey {
    padding: 12px 30px;
    margin-left: 30px;
    color: #F9FAF8;
    background-color: #0661736f;
}

.focus {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.box {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.boxes {
    display: flex;
    justify-content: space-around;
    margin: 40px 100px;
    gap: 30px;
}

.square {
    margin: 0px 5px 30px;
}

.improv {
    width: 187.5px;
    height: 165px;
    border-radius: 15px;
}

.box-text {
    margin-left: 12px;
}

.sect-four {
    background-color: #1F2937;
}

.testimonials  {
    font-style: italic;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin: -25px auto;
    background-color: #1F2937;
}

.test {
    max-width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.testimonial-box {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.player {
    font-weight: lighter;
    align-self: flex-end;
    font-size: 22px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: 42px;
}

.sect-four {
    padding: 20px;
}

.free {
    display: flex;
    font-size: 18px;
    max-width: 700px;
    border-radius: 5px;
    margin: 30px auto 0px;
    padding: 30px 70px;
    background-color: #0661736f;
}

.free span {
    font-size: 12px;
}

.sign {
    font-size: 16px;
    padding: 1px 20px;
    background-color: #0661736f;
    white-space: nowrap;
    margin-left: 40px;
}


.footer {
    padding: 30px;
    text-align: center;
    font-size: 14px;
}