* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.landing-page {
    height: 100vh;
}

.sect-one {
    background-color: #1F2937;
    color: white;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 12px 0;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    max-width: 425px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 425px;
    font-weight: 100;
    padding-bottom: 10px;
}

.headerlogo {
    font-size: 24px;
    padding: 8px 50px;
}

.navbar ul {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    font-weight: 100;
}

.navbar a {
    color: white;
}

.headerbody {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

img {
    max-height: 300px;
    margin-left: 40px;
}

.sign-up-one {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 7px 30px;
}

.sect-two {
    text-align: center;
    margin: 30px;
    height: 375px;

}

.sect-two .random-text {
    font-size: 36px;
    font-weight: 800;
    text-align: center;  
    padding: 20px 0px;
}

.boxes {
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin: 30px 200px 200px 200px;
    gap: 60px;
}

.box {
    width: 200px;
}

.square {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}


.sect-three {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 850px;
    margin: 0 auto;
}

.quote-author {
    color: black;
    font-weight: 700;
    align-self: flex-end;
    font-size: 20px;
    padding-right: 230px;

}

.sect-four {
    padding: 100px 250px;    
}

.call-action {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding: 44px 18px;
}

.call-action h5 {
    font-size: 18px;
    font-weight: 600;
}

.call-action span {
    font-size: 14px;
}

.sign-up-two {
    color: white;
    background-color: #3882F6;
    border-radius: 8px;
    border: solid 1px #F9FAF8;
    padding: 1px 40px;
}

.footer {
    background-color: #1F2937;
    padding: 40px;
    color: #F9FAF8;
    font-weight: lighter;
    text-align: center;
    font-size: 12px;
}